/* -----------------------  
      Min width 480
-------------------------*/
@media screen and (min-width: 480px) {
  
  .search-engine {
    width: 100%;
    background-color: orange;
    padding-top: 15px;
    padding-left: 0px;
    margin-top: 0px;
    padding-right: 0px;
    border-top-right-radius: 0px;
  }
  .search-input {
    width: 90%;
    height: 40px;
    border: 1px transparent;
    padding-left: 35px;
    border-radius: 3px;
    margin-left: 33px;
  }
  .has-search .form-control {
    padding-left: 3rem;
  }
  .form-control-feedback {
    margin-left: 25px;
  }
  .has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
  }
  .input {
    margin-left: 80px;
    height: 40px;
    width: 80%;
    border: 1px solid white;
    padding: 5px;
    background-color: transparent;
    color: white;
    border-radius: 3px;
  }
  .search-btn {
    margin-left: 80px;
    margin-bottom: 10px;
    padding-bottom: 10px !important;
  }
  .items {
    width: 90%;
    display: block;
  }
  .item {
    border: 1px solid grey;
    border-radius: 5px;
  }
  .slick-slide {
    margin: 10px;
  }
  .mob {
    margin-left: 30px;
  }
}
